<p-card styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <div class="center-content">
           <p>
                <span style="font-size: 1.5rem;"><b>Thank You for Answering the Survey</b></span>
           </p>
           
        </div>
       
        <div class="center-content">
           <p>
                <i class="pi pi-check-circle" style="font-size: 7rem; color:green"></i>
           </p>
        </div>
        <div class="center-content">
           <p>
                <span style="font-size: 1.5rem; color:green"><b> Have a nice day!</b></span>
           </p>
           
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
       
    </ng-template>
</p-card>
